@model IEnumerable<RRPAYRROL_SYSTEM.Models.Asistencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAsistencia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAsistencia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAsistencia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
