@model RRPAYRROL_SYSTEM.Models.Concepto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concepto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConcepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConcepto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetalleNominaFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetalleNominaFK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConcepto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
