@model IEnumerable<RRPAYRROL_SYSTEM.Models.Concepto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreConcepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDetalleNominaFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreConcepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDetalleNominaFK)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConcepto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConcepto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConcepto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
