@model RRPAYRROL_SYSTEM.Models.Actividad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagadaPorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagadaPorHora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdActividad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
